<div class="menu table">
  <header class="row">
    <div class="cell">
      <h2 class="restaurant" ng-bind="restaurant.name"></h2>
      <div class="lunch-time">lounas klo 10:30 – 12:00</div>
    </div>
  </header>
  <section class="meals row">
    <div ng-repeat="menu in restaurant.menus">
      <h3 ng-if="restaurant.menus.length > 1" class="menu-day" ng-bind="menu.day"></h3>
      <ul class="meal-list">
        <li ng-if="!menu.meals[0]" class="no-menu">Ei menua</li>
        <li class="meal" ng-repeat="meal in restaurant.menus[$index].meals" ng-bind="meal.content"></li>
      </ul>
    </div>
  </section>
  <footer class="row">
    <div class="cell">
      <div class="restaurant-address" ng-bind="restaurant.address"></div>
    </div>
  </footer>
</div>
