<h2>Kirjaudu sisään</h2>
<form ng-submit="login(user)">
  <!-- <label for="email">Sähköpostiosoite:</label> -->
  <input type="email" id="email" name="email" placeholder="Sähköpostiosoite" ng-model="user.email" required><br>

  <!-- <label for="password">Salasana:</label> -->
  <input type="password" id="password" name="password" ng-model="user.password" placeholder="Salasana" required><br>

  <div ng-show="error" class="error message">
    <p>Sähköpostiosoite tai salasana oli väärin.</p>
  </div>

  <input class="button green" type="submit" id="submit" name="submit" value="Kirjaudu">
</form>
<hr />
<footer>
  <a href="/login/forgot" class="password-forget">Unohtuiko salasana?</a>
</footer>
