<div id="login" class="middle-horizontal">
  <div class="middle-vertical">
    <div class="middle-content">
      <header>
        <img id="logo" src="" alt="">
        <hr>
      </header>
      <div ui-view></div>
    </div>
  </div>
</div>
