<header id="main-header" class="table block">
  <div class="container row">
    <div class="cell">
      <div class="logo">
        <h1>Ruokatauko.fi</h1>
      </div>
    </div>
    <div class="cell" style="text-align: center; width: 100%;">
      <nav id="main-nav">
        <ul>
          <li><a href="/menu/monday">Ma</a></li>
          <li><a href="/menu/tuesday">Ti</a></li>
          <li><a href="/menu/wednesday">Ke</a></li>
          <li><a href="/menu/thursday">To</a></li>
          <li><a href="/menu/friday">Pe</a></li>
          <li><a href="/menu/saturday">La</a></li>
          <li><a href="/menu/sunday">Su</a></li>
        </ul>
      </nav>
    </div>
    <div class="cell" style="text-align: right;">
      <nav>
        <button id="settings"><i class="fa fa-gear"></i></button>
        <a href="/add">
          <button id="upload"><i class="fa fa-cloud-upload"></i> add</button>
        </a>
        <a href="">
          <button id="login"><i class="fa fa-lock"></i><span> login</span></button>
        </a>
      </nav>
    </div>
  </div>
</header>

<section id="main-content">
  <div class="container">
    <div ui-view></div>
  </div>
</section>
