<div class="filter-bar">
  <button>filter 1</button>
  <button>filter 2</button>
  <button ng-click="filter('name', 'alvari')">alvari</button>
</div>

<section id="menus" ng-init="name=''">
   <div rt-menu
    ng-repeat="restaurant in menuData.restaurants | filter:filters"
    restaurant="restaurant"
    days="days"
    class="rt-menu">
  </div>
</section>
