@import "compass/css3";
@import "compass/typography/text/nowrap";
@import "compass/utilities/general/clearfix";
@import "breakpoint";
@import "susy";

$break-2: 550px;
$break-3: 750px;
$break-4: 1100px;
$break-5: 1600px;

$break-narrow: 550px;
$page-min-width: 360px;
$page-max-width: 1600px;
$page-padding-horizontal: 20px;

$font-stack: 'Raleway', Arial, sans-serif;


$body-padding-side: 10px;

/* COLORS */
$color-text: rgb(60,60,60);
$color-background: rgb(240,240,240);
$color-background-light: rgb(255,255,255);
$color-text-inverse: lighten($color-background, 20);
$color-emphasis: rgb(120,120,160);

$color-menu-header: rgb(60,60,60);
$color-menu-footer: rgb(245,245,245);

/* DEFAULTS */
$default-border-radius: 2px;
$default-box-shadow-color: rgba(0,0,0,0.10);
$default-box-shadow-h-offset: 3px;
$default-box-shadow-v-offset: 3px;
$default-box-shadow-blur: 0px;
