@import "_base";

#login {

  h2 {
    font-size: 1.5em;
  }

  p {
    margin: 15px 0;
  }

  @media (min-width: $break-narrow+1) {
    //background: image-url("background-login.jpg") no-repeat center center fixed;
    @include background-size(cover);
  }
}

#login .middle-content {

  @media (min-width: $break-narrow+1) {
    padding: 30px;
    margin-top: -60px;
    @include border-radius;
    @include box-shadow(rgba(0,0,0,0.2) 0 0 50px);
    max-width: 400px;
  }

  @media (max-width: $break-narrow) {
    padding: 30px 0 30px 0;
    width: 100%;
  }

  //background-color: $color-lightbrown;

  hr {
    margin: 15px 0;
    //border-color: darken($color-emphasis, 10);
  }
}

#login header {
  #logo {
    margin: 0 auto;
    width: 150px;
  }
}

#login form {
  input[type="email"], input[type="password"], input[type="text"] {
    width: 300px;
  }
}

#login footer {
  a, a:visited {
    text-decoration: none;
    font-size: 0.9em;
    font-family: $font-stack;
    font-weight: 600;
    //color: darken($color-lightbrown, 30);
  }
  a:hover {
    //color: darken($color-lightbrown, 50);
  }
}
