@import "compass/reset";
@import "_base";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300);

body, html {
  height: 100%;
}

body {
  background-color: $color-background;
  background-image: image-url('food_blue.png');

  font-family: $font-stack;
  color: $color-text;
}

.table {
  display: table;
  width: 100%;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  vertical-align: middle;
}

.block {
  @media (min-width: $break-narrow+1) {
    padding: 0 $page-padding-horizontal;
  }
  @media (max-width: $break-narrow) {
    padding: 0 $page-padding-horizontal/2;
  }
}

/* SECTIONS */

#main-content {
  @include clearfix;
}

#main-header {
  @media (min-width: $break-narrow+1) {
    text-align: left;
  }
  @media (max-width: $break-narrow) {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  div, h1, h2, ul, li, a, p, button, nav { vertical-align: middle; }

  white-space: nowrap; // prevent inline-blocks from wrapping

  .container {
    height: 100%;
    width: 100%;
    max-width: inherit; // override for full width
  }

  background-color: rgb(245,245,245);

  .logo, nav {
    display: inline-block;
  }

  .logo {
    text-transform: uppercase;
    font-weight: 600;

    h1 { // fix
      display: table-cell;
      vertical-align: middle;
    }
  }

  nav {
    @media (min-width: $break-narrow+1) {
      margin: 0 20px;
    }

    button {
      margin: 0px 5px;
      &:last-child { margin-right: 0; }
      &:first-child { margin-left: 0; }
    }

    li {
      display: inline-block;

      &.active a, a:hover {
        color: $color-emphasis;
      }

      a {
        margin-bottom: 0;
        vertical-align: middle;
        display: table;
        padding: 15px 20px;
        text-decoration: none;
        & > span {
          display: table-cell;
        }
        &.active {
          background-color: darken($color-background, 20);
          color: white;
        }
      }
    }
  }

  /* RESPONSIVE */
  @media (max-width: $break-narrow) {
    .cell {
      display: block;
      text-align: center !important;
    }
    li {
      display: block;
      padding: 10px 0 10px 0;
    }
  }
}
