@import "_base";


@include layout(auto 12 inside);

#menus {
  @include border-box-sizing;
  @include container;

  @include breakpoint($break-2) {
    margin: 10px 5px;
  }
  @include breakpoint($break-3) {
    margin: 15px 10pxpx;
  }
  @include breakpoint($break-4) {
    margin: 20px 15px;
  }
}

.rt-menu {
  @include border-box-sizing;

  @include breakpoint($break-2) {
    @include gallery(6 of 12);
    margin-bottom: 10px;
  }
  @include breakpoint($break-3) {
    @include gallery(4 of 12);
    margin-bottom: 20px;
  }
  @include breakpoint($break-4) {
    @include gallery(3 of 12);
  }
  @include breakpoint($break-5) {
    @include gallery(2 of 12 0.15);
  }


  .menu {
    @include border-box-sizing;
    background-color: $color-background-light;
    min-height: 400px;
    @include box-shadow(rgba(0,0,0,0.2) 4px 4px 0);
  }

  .menu-day {
    padding: 0 10px;
    font-weight: bold;
    margin-top: 5px;
  }

  header {
    vertical-align: middle;
    width: 100%;
    height: 50px;

    text-align: center;
    h2 {
      font-size: 1.05em;
    }
    color: $color-text-inverse;
    background-color: $color-menu-header;

    .lunch-time {
      margin-top: 5px;
      font-size: 0.8em;
      color: lighten($color-menu-header, 30);
    }
  }

  footer {
    @include border-box-sizing;
    height: 35px;
    padding: 5px 10px;
    background-color: $color-menu-footer;
    font-size: 0.75em;
    font-weight: 500;
    color: darken($color-menu-footer, 40);

    div {
      margin: 5px 0;
    }
  }

  .meal-list {
    margin: 0 10px;
  }

  .meal {
    font-size: 0.95em;
    font-weight: 400;
  }
  .tags {
    color: lighten($color-text, 20);
  }

  li {
    padding: 10px 0;
    &:not(:last-child) { border-bottom: 1px solid rgb(230,230,230); }
  }
}

.filter-bar {
  height: 40px;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  div {
    @include inline-block;
  }
  a {
    height: 100%;
  }
}
